.id-lightbox-overlay {
  background: rgba(51, 163, 220, 0.3);;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.4s ease-in; }
  .id-lightbox-overlay.visible {
    opacity: 1; }
  .id-lightbox-overlay .id-lightbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: url('../img/close.svg') 0 0 no-repeat;
    background-size: 30px 30px;
    z-index: 999;
    cursor: pointer; }

.id-lightbox-container {
  position: fixed;
  box-sizing: content-box;
  padding: 60px 0;
  max-width: calc(100% - 20px);
  bottom: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px 10px;
  z-index: 100;
  opacity: 0;
  overflow: auto;
  transition: all 0.4s ease-in; }
.id-lightbox-container.visible {
    opacity: 1; }
.id-lightbox-image {
  position: relative;
  background: transparent;
  height: auto;
  width: auto;
  max-width: 100%;
  z-index: 100;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 0;
  transition: all 0.4s ease-in; }
.id-lightbox-image.id-lightbox-current.center {
  position: fixed;
  top: 0;
  left: 6px;
  bottom: 0;
  right: 6px;
  margin: auto;
  width: calc(100vw - 12px);
   }
  .id-lightbox-image.id-lightbox-current {
    opacity: 1; }
