html {
    margin: 0;
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    width: 100%;
    box-sizing: border-box;
}

.container {

    margin: auto;
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container .info {
    background-color: #f8f9fa;
    box-sizing: border-box;
    color: #454d5d;
    padding: 10px 10px 10px 10px;
}

.container .version {
    padding: 10px 40px 10px 40px;
    overflow: hidden;

}

.container .version h4,
.container .version ul,
.container .version li {
    color: #454d5d;
}

.container .version ul {
    margin-left: 10px;
}

.container h2 {
    margin: 0;
    font-size: 2.4em;
    position: relative;
    color: #454d5d;
    padding-top: 13px;
}


.container h4 {
    font-size: 1.2em;
    position: relative;
}

.container h4::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #b9eee5;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 11px;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 5px #b0b0b0;

}

.container h4::after {
    content: "";
    height: 100vh;
    width: 2px;
    background: #b9eee5;
    position: absolute;
    left: 9px;
    top: 6px;
}

.container p {
    color: #acb3c2;
}

.container a,
.container a:hover,
.container a:active {
    text-decoration: none;
    color: #454d5d;
}

.container .info a::after {
    content: ">";
    margin-left: 5px;
    display: inline-block;
    font-family: cursive;
    font-weight: 800;
}

.info img {
    width: 80px;
    float: left;
    padding-right: 10px;
}
#gototop {
    /* opacity: 0.6;*/
    position: fixed;
    left: 91%;
    top: 84%;
    width: 100px;
    cursor: pointer;
    display: none;

}

#gototop img {
    width: 100px;
}

.reply {
    background-color: #4cdcdc; /* Green */
    border: none;
    color: white;
    margin-left: 15px;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.reply:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background: rgba(51, 163, 220, 0.3);
}

#plane {
    width: 70px;
    position: absolute;
    margin-top: -20px;
    left: 70%;
    cursor:pointer;
    z-index: 1;
}
#plane img{
    width: 70px;
}
